apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  registries.conf: |
    registries:
    - name: ECR
      api_url: https://296062548155.dkr.ecr.us-east-1.amazonaws.com
      prefix: 296062548155.dkr.ecr.us-east-1.amazonaws.com
      ping: no
      insecure: no
      credentials: ext:/app/scripts/ecr-login.sh
      credsexpire: 11h
